{% extends "admin/_layout.html" %}
{% block admin %}
<div class="admin-header"><h1>{{ 'Edit Video' if video else 'New Video' }}</h1></div>
<form method="POST" enctype="multipart/form-data" class="mn-form" style="margin-top:0;max-width:820px">
  {{ form.hidden_tag() }}
  {{ form.title.label }}{{ form.title() }}
  {{ form.trainee_name.label }}{{ form.trainee_name() }}
  <label>Description</label>{{ form.description(rows=4) }}
  {{ form.video_url.label }}{{ form.video_url() }}
  {{ form.program_id.label }}{{ form.program_id() }}
  {{ form.thumbnail.label }}{{ form.thumbnail() }}
  {{ form.featured.label }}{{ form.featured() }}
  {{ form.is_published.label }}{{ form.is_published() }}
  <div style="margin-top:1.5rem">{{ form.submit(class="btn-mn-primary") }}</div>
</form>
{% endblock %}